/* General styling */
body {
    font-family: "lores-12", sans-serif;
    color: white;
    background-image: linear-gradient(#FFC2D1, #FF8FAB);
    background-attachment: fixed;
}

/* Navigation bar styling */
.navigation_bar {
    padding-top: 2em;
}

.navigation_bar li span {
    font-size: 1.5em;
    font-weight: bold;
}

.navigation_bar nav ul li {
    display: inline;
    padding-left: 0.5em;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 1em;
}

.navigation_bar nav ul li a {
    padding-right: 0.75em;
    margin-right: 0.5em;
    float: right;
    text-decoration: none;
    color: white;
}

.navigation_bar nav ul li a:link {
    color: white;
}

.navigation_bar nav ul li a:visited {
    color: white;
}

.navigation_bar nav ul li a:hover {
    color: black;
}

/* Main body styling - index page */
.index_page {
    padding-left: 4em;
}

.index_page h1 {
    font-size: 4em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.index_page p {
    font-size: 1.25em;
}

.index_page h2 {
    font-size: 2em;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.index_page img {
    padding-top: 1.5em;
}

/* Footer styling */

.footer {
    float: right;
    padding-left: 4em;
    margin-top: 3.5em;
}

.footer ul li {
    display: inline;
}

.footer ul li button {
    font-size: 1.5em;
    font-family: "lores-12", sans-serif;
    color: white;
    background-color: transparent; 
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 0.5em;
}

.footer ul li button:hover {
    color: black;
    background-color: white; 
}

.carousel {
    width: 800px;
    height: 450px;
  }